

.grid-container{
     .container {
          display: flex;
        }
        .container > * {
          margin: 20px;
        }
background-color: red;
height: 70px;
grid-column: 2 / span 2;
     }
  
 .box {
  width: 250px;
  padding-top: 5px;
  border-style: solid;
  border-color: #336699;
  border-width: 1px;
  padding-left: 6px;
  padding-bottom: 15px;
 }
  

 #demobox{ background-color: slateblue;
     text-decoration-color: aliceblue;


 }
     .qwerty{ text-align: right;
          background-color: blueviolet;

     }   
     .name{ font-weight: bold;
           font-family: Verdana, Geneva, Tahoma, sans-serif;
           font-style: inherit ;



     }
 
p{

}
.tech{
     margin-left: 10px;
     margin-right: 10px;
     
}
.sub{ background-position: center;
     background-color:crimson;

}
.bottom{ text-decoration-color: chocolate ;
     font-size: larger;
     font-style: normal;


}
.sab{ 
     text-decoration-color: chocolate ;
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-style: initial;
     font-size: larger;


}

